* {
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 500;
}

body {
    min-width: 320px;
    background-color: rgb(28, 28, 28);
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.contenedor-principal {
    min-width: 320px;
    width: auto;
    margin: 0px auto;
    padding: 0px;
}

/* Header base: móvil */
header {
    background-color: rgb(31, 41, 55);
    padding: 16px;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

.logo {
    height: 80px;
}

/* Hero base: móvil */
.hero {
    margin-bottom: 0px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
	padding: 0 16px;

    & h1 {
        margin-top: 0, 0, 15px;
        color: white;
        font-family: Roboto, sans-serif;
		font-size: 32px;
		font-weight: 900;
    }

	& p {
		color: #E5E7EB;
		font-size: 16px;
    	line-height: 1.6;
    	margin: 0 0 25px;
	}
}

.texto-hero {
	width: 100%;
}

.imagen-cafe img {
    width: 100px;	
    max-width: 320%;
	height: auto;    
}

/* Botones base */
button {
	border-radius: 8px;
	padding: 8px 20px;
	font-weight: bold;
	border: none;
	font-size: 16px;

	&.hero-button {		
		background-color: rgb(141, 141, 240);
		color: white;	
		
}
	&.boton-cta {
		color:white;
		border: 1.5px solid white;
		background-color: transparent;
}
}

.hero-button:hover {
    background-color: #365fb7;
}

.boton-cta:hover {
	background-color:white;
	color:  rgb(56, 130, 246);
}

/* Resto de secciones en móvil */

.contenedor-descubre {
    width: 100%;
    margin: 0px;
    padding: 20px 0px 0px;
    background-color: white;
    text-align: center;	
}

.descubre {
	font-size: 36px;
	padding: 0px 20px 30px; 
	color: rgb(0, 0, 0);
}

h3 {
	font-size: 16px;
	font-weight: 400p;
}

.contenedor-tarjetas {
    padding: 0px 40px 15px;

    & .marco-tarjeta {
        width: 100%;
        max-width: 180px;
		height: 180px;
        border-radius: 12px;
        border: 4px solid rgb(0, 102, 255);
        box-sizing: border-box;
		margin: 0 auto 15px;
    }
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0px;
}

nav a {
    color: white;
    text-decoration: none;
}

.cita {
    background-color: rgb(229, 231, 235);
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    box-sizing: border-box;
}

.cita-contenido {
    width: 100%;
    max-width: 650px;
    text-align: center;
}

.cita p {
    margin: 0px;
    color: rgb(31, 41, 55);
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
}

.cita .autor {
    text-align: right;
    margin-top: 20px;
    font-weight: 400;
	font-size: 18px;
}

.contenedor-cta {
	background-color: white;
	 padding: 40px 16px;
}

.cta {
	background-color: rgb(56, 130, 246);
    color: white;

	border-radius: 12px;
	padding: 16px;

	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	text-align: center;	
}

.cta-text {
	font-size: 20px;
}

footer {
    background: rgb(31, 41, 55);
    color: white;
	text-align: center;
	padding: 30px;
}



@media (min-width: 768px) {

	 /* Header desktop */

header {
	padding: 16px 250px 80px;
}

  /* Hero desktop */
.hero {
    flex-direction: row;
	justify-content: space-between;
    padding: 0;
}

.contenedor-tarjetas {
	display: flex;
	justify-content: center;
	gap: 35px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
}

 .texto-hero {
    width: 470px;
}

.imagen-cafe img {
	width: 500px;
    max-width: 100%;
}

 /* Tarjetas en fila */
.contenedor-tarjetas {
	display: flex;
    justify-content: center;
    gap: 35px;
    padding: 0 40px 15px;
  }

.contenedor-tarjetas .marco-tarjeta {
    margin: 0;
}

/* Navegación horizontal */
nav ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0;
    padding: 0;
  }

/* Cita: texto justificado solo en desktop */
.cita p {
    text-align: justify;
}

.cita .autor {
    text-align: right;
}

  /* CTA en fila */
.contenedor-cta {
    padding: 70px 12%;
  }

.cta {
    padding: 16px 70px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}


